In [1]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup

## Question 1: Use yfinance to Extract Stock Data
> Reset the index, save, and display the first five rows of the tesla_data dataframe using the head function. Upload a screenshot of the results and code from the beginning of Question 1 to the results below.

In [25]:
tesla_data =yf.Ticker('TSLA')

In [26]:
history_tesla_data = tesla_data.history(period="max")

TSLA: No data found for this date range, symbol may be delisted

In [29]:
history_tesla_data.reset_index(inplace=True)
history_tesla_data.head(5)

Empty DataFrame
Columns: [level_0, index, Date, Open, High, Low, Close, Adj Close, Volume]
Index: []

## Question 2: Use Webscraping to Extract Tesla Revenue Data
> Display the last five rows of the tesla_revenue dataframe using the tail function. Upload a screenshot of the results.

In [33]:
url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"

In [34]:
tesla_table = requests.get(url).text

In [35]:
soap = BeautifulSoup(tesla_table,'html5lib')

In [37]:
tesla_revenue =pd.read_html(url)
tesla_revenue=tesla_revenue[1]
tesla_revenue.tail()

,Tesla Quarterly Revenue (Millions of US $),Tesla Quarterly Revenue (Millions of US $).1
49,2010-06-30,$28
50,2010-03-31,$21
51,2009-12-31,NaN
52,2009-09-30,$46
53,2009-06-30,$27

## Question 3: Use yfinance to Extract Stock Data
> Reset the index, save, and display the first five rows of the gme_data dataframe using the head function. Upload a screenshot of the results and code from the beginning of Question 1 to the results below.

In [38]:
Gamestop =yf.Ticker('GME')

In [39]:
gme_data = Gamestop.history(period="max")

GME: No data found for this date range, symbol may be delisted

In [40]:
gme_data.head()

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

# Question 4: Use Webscraping to Extract GME Revenue Data
> Display the last five rows of the gme_revenue dataframe using the tail function. Upload a screenshot of the results.

In [41]:
url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
data3=requests.get(url).text

In [42]:
soap=BeautifulSoup(data3 ,"html5lib")

In [44]:
gme_revenue=pd.read_html(url)
gme_revenue=gme_revenue[1]
gme_revenue.tail()

,GameStop Quarterly Revenue (Millions of US $),GameStop Quarterly Revenue (Millions of US $).1
57,2006-01-31,"$1,667"
58,2005-10-31,$534
59,2005-07-31,$416
60,2005-04-30,$475
61,2005-01-31,$709

In [ ]:
make_graph(gme_data, gme_revenue, 'GameStop')